@model BugTracker.Application.ViewModels.ProjectViewModels.IndexViewModel

@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="sidebar sidebar-left col-md-2 col-lg-1 p-0 pt-md-5 h-100 mh-100">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="left-sidebar-link @(controller == "Project" ? "active-link" : "")" asp-area="" asp-controller="Project" asp-action="Index">PROJECTS</a>

            if ((controller == "Project" && action == "Detail") || controller == "AppUser")
            {
                <a class="left-sidebar-link @(controller == "AppUser" ? "active-link" : "")" asp-area="" asp-controller="AppUser" asp-action="Collaborate" asp-route-id="">COLLABORATORS</a>
            }
        }
    </div>

    <div class="col-md-10 col-lg-11">

        <div class="row mb-5">
            <nav class="navbar w-100 p-0 bg-white">
                <div class="secondary-nav w-100">
                    <ul class="nav justify-content-start d-inline-block bg-light nav-btn-cont">
                        <li class="nav-item justify-content-start p-2 ml-5">
                            <button id="project-create-btn" class="btn btn-outline-success">+ New Project</button>
                        </li>

                    </ul>
                    <ul class="nav d-inline-block float-right bg-light notification-cont">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img id="notification-icon" src="~/images/notification.png" alt="notification icon" />
                                <span id="notification-count">@Model.User.Notifications.Where(x => x.IsAcknowleged == false).Count()</span>
                            </a>
                            <div class="dropdown-menu">
                                @foreach (var notification in Model.User.Notifications)
                                {
                                    if (notification.IsAcknowleged == false)
                                    {
                                        <p class="dropdown-item">@notification.Message</p>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item" id="@notification.Id">
                                            <a class="btn btn-sm btn-danger decline">Decline</a>
                                            <a class="btn btn-sm btn-success accept">Accept</a>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    }
                                }


                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row justify-content-center" id="project-card-cont">

            @if (Model.User.UserProjects == null || Model.User.UserProjects.Count() == 0)
            {
                <div class="alert alert-light mt-5 p-5">
                    <h6>You currently do not have any active projects. Create a new project by clicking on the green 'New Project' button at the top left of the dashboard to get started!</h6>
                </div>
            }

            @{ 
                // Random numbers for random seasonal project images
                var rnd = new Random();
            }

            @for (int i = 0; i < Model.User.UserProjects.Count(); i++)
            {
                var imgName = Model.PartialImageName + rnd.Next(1, 5) + ".jpeg";

                if (i > 0 && i % 4 == 0)
                {
                @:</div><div class="row justify-content-center">
                }
                <div class="col-lg-2 col-md-6 col-sm-6 pl-5 pr-5 pb-5">
                    <div class="card box-shadow grow bg-white">
                        <a asp-controller="Project" asp-action="Detail" asp-route-id="@Model.User.UserProjects.ToList()[i].Project.Id" id="@Model.User.UserProjects.ToList()[i].Project.Id" class="project-detail-link">
                            <img class="card-img" src="~/images/@imgName" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title text-white">@Model.User.UserProjects.ToList()[i].Project.Name</h5>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer bg-white mt-0">
                        <img class="project-edit-btn" src="~/images/edit-blue.png" alt="edit icon" />
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<div class="modal fade" id="project-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-center">
                <h5 class="modal-title text-center text-white" id="exampleModalCenterTitle">Create a New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Project" asp-action="Create" method="post">

                    <div class="form-group">
                        <label asp-for="NewProjectName">Name:</label>
                        <input asp-for="NewProjectName" class="form-control" />
                        <span asp-validation-for="NewProjectName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewProjectDescription">Description:</label>
                        @Html.TextAreaFor(x => x.NewProjectDescription, 4, 4, new { @class = "form-control" })
                        <span asp-validation-for="NewProjectDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewProjectRepoUrl">Repository Link:</label>
                        @Html.TextBoxFor(x => x.NewProjectRepoUrl, new { @class = "form-control" })
                        <span asp-validation-for="NewProjectRepoUrl" class="text-danger"></span>
                    </div>

                    <button class="btn btn-outline-secondary">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save" />

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="project-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-center">
                <h5 class="modal-title text-center text-white" id="exampleModalCenterTitle">Edit <span id="project-read-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="project-edit-form" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" id="project-edit-name" />
                        <span asp-validation-for="NewProjectName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="project-edit-description" class="form-control" name="description" cols="4" rows="4"></textarea>
                        <span asp-validation-for="NewProjectDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="link">Repository Link:</label>
                        <input id="project-edit-link" class="form-control" type="url" name="link" />
                        <span asp-validation-for="NewProjectRepoUrl" class="text-danger"></span>
                    </div>

                    <input type="hidden" value="" name="projectId" />

                    <button class="btn btn-outline-secondary">Cancel</button>
                    <input id="edit-form-btn" type="submit" class="btn btn-primary" value="Save" />
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


