@model BugTracker.Application.ViewModels.AppUserViewModels.CollaborateViewModel

@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">

    <div class="sidebar sidebar-left col-md-2 col-lg-1 p-0 pt-md-5 h-100 mh-100">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="left-sidebar-link @(controller == "Project" ? "active-link" : "")" asp-area="" asp-controller="Project" asp-action="Index">PROJECTS</a>

            if ((controller == "Project" && action == "Detail") || controller == "AppUser")
            {
                <a class="left-sidebar-link @(controller == "AppUser" ? "active-link" : "")" asp-area="" asp-controller="AppUser" asp-action="Collaborate" asp-route-id="">COLLABORATORS</a>
            }
        }
    </div>

    <div class="col-md-10 col-lg-11">
        <div class="row mb-5">
            <nav class="navbar w-100 p-0 bg-white">
                <div class="secondary-nav w-100">
                    <ul class="nav justify-content-start d-inline-block bg-light nav-btn-cont">
                        <li class="nav-item justify-content-start p-2 ml-5">
                        </li>

                    </ul>
                    <ul class="nav d-inline-block float-right bg-light notification-cont">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img id="notification-icon" src="~/images/notification.png" alt="notification icon" />
                                <span id="notification-count">@Model.Notifications.Where(x => x.IsAcknowleged == false).Count()</span>
                            </a>
                            <div class="dropdown-menu">
                                @foreach (var notification in Model.Notifications)
                                {
                                    if (notification.IsAcknowleged == false)
                                    {
                                        <p class="dropdown-item">@notification.Message</p>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item" id="@notification.Id">
                                            <a class="btn btn-sm btn-danger decline">Decline</a>
                                            <a class="btn btn-sm btn-success accept">Accept</a>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row justify-content-center padding-top-6">
            <div class="col-lg-4">
                <form class="form bg-white p-3 border-radius-5" asp-controller="Notification" asp-action="Create" method="post">
                    @Html.HiddenFor(x => x.ProjectId)
                    <div class="bg-secondary text-white">
                        <h4 class="text-center p-3 border-radius-5 font-weight-light">Invite New Collaborators:</h4>
                    </div>
                    <div class="form-group">
                        <select multiple asp-for="SelectedCollaborators" asp-items="Model.NonCollaborators" class="form-control"></select>
                        <span asp-validation-for="SelectedCollaborators" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Invite</button>
                </form>
            </div>
            <div class="col-lg-4 offset-1">
                <table class="table">
                    <thead>
                        <tr class="bg-secondary text-white text-center">
                            <th colspan="3">
                                <h4 class="font-weight-light">Current Collaborators</h4> 
                            </th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Projects</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Collaborators == null || Model.Collaborators.Count() == 0)
                        {
                            <tr class="bg-white">
                                <td>There are currently no collaborators for this project</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var collaborator in Model.Collaborators)
                            {
                                <tr class="bg-white">
                                    <td>@collaborator.FirstName @collaborator.LastName</td>
                                    <td>@collaborator.Email</td>
                                    <td>@collaborator.UserProjects.Count()</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
